* {
    box-sizing: border-box;
}

header {
    text-align: center;
    color: #005a9c;
    font-size: 60px;
    font-family: 'Mr Dafoe', cursive;
    margin-bottom: -15px;
    margin-top: -10px;
}

ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #005a9c;
    list-style: none;
    border: #EF3E42 solid 2px;
    width: 250px; 
    border-radius: 6px;
}

div ul {
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

li {
    text-align: center;
    color: white;
    font-size: 20px;
}
li span {
    color: #EF3E42;
}

.li-score {
    margin-left: -30px;
}

.li-question {
    margin-left: 20px;
}

.total-score, .current-question {
    margin-left: 2px;
}

.quiz-start  {
    text-align: center;
  
    display: block;
}

.quiz-questions {
    display: none;
}

body {
    background-image: url("https://media.gettyimages.com/photos/full-moon-over-dodgers-city-picture-id150181819?s=2048x2048");
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: fixed;
   
    
}

.farmer-john {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.start-vin {
    margin-top: 20px;
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


.quiz-start h1 {
    font-family: 'Mr Dafoe', cursive;
    /*color: #EF3E42;*/
    color: white;
    /*color: #1E90FF;*/
    /*text-shadow: 4px 0px 4px #EF3E42;*/
    
}
    


.quiz-start {
    margin-top: -20px;
}

.start-button {
    color: #1e90ff;
    font-size: 20px;
    font-family: 'Mr Dafoe', cursive;
    border-radius: 8px;
    background-color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;



}

.feedback, .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71l0jGkSSdL._SL1500_.jpg");
    border-radius: 50%;
    background-repeat: round;
    height: 500px;
    width: 500px;

}


.icon .feedback-pic-change {
    height: 400px;
    width: 400px;
    position: relative;
    
    border-radius: 50%;
}

fieldset {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.quiz-button, .restart-button, .next-button {
    color: #1e90ff;
    font-size: 20px;
    font-family: 'Mr Dafoe', cursive;
    border-radius: 8px;
    background-color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

h2 {
    text-align: center;
    color:  white;
    font-size: 26px;
    text-shadow: 2px 0px 4px #005a9c
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback p, .the-end-p, .quiz-retake h1 {
    color: white;
    font-size: 28px;
    background-color: #005a9c;
    border: #EF3E42 solid 2px;
    padding: 6px;
    border-radius: 6px;
    font-family: 'Mr Dafoe', cursive;
    text-align: center;
}

fieldset span {
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-right: 4px;
   
}

label.answerOption {
    
    margin: 2px;
    background-color: #005a9c;
    border: #EF3E42 solid 2px;
   
    border-radius: 6px;
    font-family: 'Mr Dafoe', cursive;
}

label input {
    margin-top: auto;
    margin-bottom: auto;
}

.feedback-pic-static {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.the-end-p {
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width:411px) {
    header {
        font-size: 20px;
    }
    .quiz-start h1 {
        font-size: 18px;
        margin-top: 30px;

    }
    .start-vin {
        height: 200px;
    }
    .farmer-john {
        height: 75px;
    }
    .feedback-pic-static {
        height: 160px;
        width: 160px;
    }
  .icon {
      height: 200px;
      width: 200px;
  }  
  .icon .feedback-pic-change {
      height: 160px;
      width: 160px;
  }
  .feedback p, .the-end-p, .quiz-retake h1 {
    
    font-size: 16px;
  }
  label { 
      display: flex;
      justify-content: space-between;
  }
    
}

@media (min-width: 412px) and (max-width:768px) {
    header {
        font-size: 26px;
    }
    .quiz-start h1 {
        font-size: 22px;
        margin-top: 30px;

    }
    .start-vin {
        height: 300px;
    }
    .farmer-john {
        height: 100px;
    }
    .feedback-pic-static {
        height: 200px;
        width: 200px;
    }
  .icon {
      height: 250px;
      width: 250px;
  }  
  .icon .feedback-pic-change {
      height: 200px;
      width: 200px;
  }
  .feedback p, .the-end-p, .quiz-retake h1 {
    
    font-size: 20px;
  }
  label { 
      display: flex;
      justify-content: space-between;
  }
    
}

@media (min-width: 769px) {
    label { 
        display: flex;
        justify-content: space-between;
    }
}